<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/hope">Write Hope</a>
        <a href="/list_hope">List of Hopes</a>
    </div>
    <div class="main-content">
        <h1>About MyHope</h1>
        <p>MyHope is an application that helps you send your hopes to your future self! Write a message and set a date to receive it in your inbox.</p>
    </div>
</body>
</html>
